<div class="footer-container">
    <div class="row" style="margin-left: 15px; margin-right: 15px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <div style="margin-top: 40px;">
                <ul class="list-unstyled" style="font-size: 12px;">
                    <li><strong>For any questions regarding FlyHigh</strong></li>
                    <li>Call 949-439-3501</li>
                    <li>Monday through Friday between 8:00am and 5:00pm Pacific Time</li>
                    <li>Email any questions to <a href="mailto:weikuansun@gmail.com">weikuansun@gmail.com</a> </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <div style="margin-top: 20px;">
                <p>&copy; COPYRIGHT 2020 ALL RIGHTS RESERVED. FLYHIGH</p>
            </div>
        </div>
    </div>
</div>
